
body {
  /* Move down content because we have a fixed navbar that is 50px tall */
	position: relative;
  padding: 50px 0 0 0;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  color: ​#333333;
	background-color: white;
}

/*
 * Top navigation
 */

nav.navbar-inverse {
  background-color: #027dc0;
}

/* Hide default border to remove 1px line. */
.navbar-fixed-top {
  border: 0;
}

.navbar .title {
  font-size: 18px;
  color: white;
}

/*
 * Sidebar
 */

.sidebar {
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar.left {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  background-color: #f4f5f6;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar a {
  outline: none;
}
.nav-sidebar > li > a {
  font-weight: bold;
  padding: 10px 20px;
  color: #333333;
}
.nav-section > li > a {
  padding: 5px 20px 5px 40px;
}
.nav-sidebar > li.active {
	background-color: white;
}
.nav-sidebar .active > a {
  font-weight: bold;
  color: #333333;
}
.nav.nav-sidebar a:focus {
  background-color: #f4f5f6;
}
.nav.nav-sidebar .active a:focus {
  background-color: white;
}
.nav.nav-sidebar .active a:hover {
  background-color: #fafafa;
}

/* Override bootstrap defaults for .panel,
   .panel is needed for collapse: https://stackoverflow.com/questions/19425165 */
.nav-sidebar .panel {
  border: none;
  border-radius: 0;
  background: inherit;
  margin-bottom: 0;
  box-shadow: inherit;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.main > #doc-body {
  padding: 10px;
}

/*
 * TOC
 */

.sidebar.right > #toc-container {
  position: fixed;
}
.toc-header {
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/*
 * Search
 */

#search-query {
  border-radius: 4px;
}
